<!DOCTYPE html>
<html>
    <head>
        <title>Django Invoices</title>
    </head>
    <body>
        
        <header>
            <h2><a href="/">Invoice0</a></h2>
        </header>
        
        {% for invoice in invoices %}
            <article>
                <time>published: {{ invoice.published_date }}</time>
                <h2><a href="">{{ invoice.title }}</a></h2>
                <p>{{ invoice.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    
        <header>
            <h1><a href="/">Home</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Invoice1t</a></h2>
            <p>jokes.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Invoice2</a></h2>
            <p>innit famdem.</p>
        </article>
    </body>
</html>